.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-padding-top: 20px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 75px;
  padding-bottom: 10px;
}

h2 {
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}

body {
  font-size: 20px;
  font-family: 'Raleway', cursive;
}


img {
  width: 200px;
  height: auto;
}

.well {
  background-color: red;
  color: aliceblue;
  font-family: 'Fredoka One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.radio {
  padding-bottom: 50px;
text-align: center;
}

.radio input[type="radio"] {
  margin-left: 20px;
}

.btn {
  font-size: 24px;
  color: black;
}

.giphy-embed {
  text-align: center;
}

#ruby, #python, #js {
  text-align: center;
  display: none;
  padding-bottom: 50px;
}

button.retake {
background-color: darkgray;
font-family: 'Raleway', cursive;
}

p {
  font size: 30px;
  text-align: center;
  font-family: 'Raleway', normal;
  font-weight: bold;
}

#buzzfood {
  color: red;
  font-family: 'Fredoka One', cursive;
  font size: 20px;
}

#blm {
  color:black;
  font-family: 'Fredoka One', cursive;
  font size: 20px;
}

#pride {
  color:black;
  font-family: 'Fredoka One', cursive;
  font size: 20px;
   -webkit-animation: rainbow 20s infinite; 
   -ms-animation: rainbow 20s infinite;
   animation: rainbow 20s infinite; 
 }
 
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
   20%{color: red;}
   30%{color: CadetBlue;}
   40%{color: yellow;}
   50%{color: coral;}
   60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
   100%{color: orange;}
 }