.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-padding-top: 20px;
  padding-bottom: 40px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  padding-bottom: 20px;
}

h2 {
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}

body {
  font-size: 20px;
}


img {
  width: 200px;
  height: 200px;
}

.well {
  background-color: red;
  color: aliceblue;
  font-family: 'Fredoka One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.radio {
  padding-bottom: 50px;
text-align: center;
}

.radio input[type="radio"] {
  margin-left: 20px;
}

.btn {
  font-size: 24px;
}

.giphy-embed {
  text-align: center;
}

#ruby, #python, #js {
  text-align: center;
}

#retake {
  font-size: 18px;
}