.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  padding-bottom: 20px;
}

h3 {
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 45;
}

img {
  width: 200px;
  height: 200px;
}

.well {
  background-color: red;
  color: aliceblue;
  font-family: 'Fredoka One', cursive;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.radio {
  padding-bottom: 50px;
}

.radio input[type="radio"] {
  margin-left: 20px;
}
